*{
    padding:10px;
    margin:0;
}


section{
  margin: 20px 0;
}

ul{
  padding-left: 40px;
}

ul ul ul {
  margin-top: 10px;
}

/* Add style here */

li {
  color: #2a52be
}
li:nth-of-type(2) {
  color: #228b22
}
li:nth-of-type(3) {
  color: #dc143c
}
ul ul li, ul ul li:nth-child(3) {
  color: #9400d3;
  background-color: #f0f0f0;
  border-radius: 12pt;
}
ul ul ul li {
  color: #ff8c00;
  background-color: #fdf6e3;
  font-size: 0.75em
}
